*:before, *:after, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: solid darkgreen 1px;
}
/* ----------GLOBAL STYLING------------ */

}
body {
  font-family:  'Open Sans', sans-serif;
  display: flex;
}
header { 
  background-color: #404041;
 }
 main {
  display: inline-flex;
  width: 100%;

 }
 div {

 }
/*---------- Box Styling ------------*/
.box-container {
  display: inline-flex;
  width: 100%;

}
.flex-column {
  flex-direction: column;
  display: flex;
}

/* -----------Left Side Styling -----------*/
.player-info {
  width: 100%;
}

section.game-btn {
  display: inline-flex;
  justify-content: space-between;
  width: 100%; 
}
.chal-form {
  display: inline-flex;
  width: 100%;



}

.chal-name-1,
.chal-name-2 {
  width: 200px;

}
/* -----------Right Side Styling ----------*/
.leaderboard {
  width: 100%;
}
